html {
    background-color: darkslateblue;
}

header {
    font-size: xx-large;
    font-family: Reggae one;
    text-align: center;
    color: ivory;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts {
    color: ivory;
    font-size: larger;
}

footer {
    font-size: larger;
    color: ivory;
}
.is-auto {
    text-align: center;
    word-spacing: 15px;
}

.is-one-half {
    text-align: center;
    font-family: 'Press Start 2P';
}
    


.name {
    text-align: center;
    font-family: fantasy;
}

a {
    color: bisque;
}

img { 
    height: 100%;
    width: 50%;
    padding-left: 0px;
    
}
.title{
    text-align: center;
}

.notification.is-primary {
    background-color: forestgreen;
    font-family: Shojumaru;
}

option {
    color: black

}

#generateBtn {
    font-family: MedievalSharp;
    padding: 10px;
    color: white;
    background-color: darkred;
    border-color: black;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
}

#generateBtn:hover {
    border: 2px solid transparent;
    background: darkred;
    transform: scale(1.05);
    will-change: transform;
    border-color: black;
    border-radius: 10px;
}

.content {
font-family: fantasy;
font-size: 28px;
}

.dropdown-content{
    background: darkseagreen;
    border-radius: 40%;
    font-family: MedievalSharp;
    font-weight: bold;
    cursor: pointer;
}

.name {
    font-family: Shojumaru;


}

#getName{
    background-color: darkred;
    border: none;
    border-radius: 5px;
    border-color: black;
    color:white;
    font-family: MedievalSharp;
    padding: 10px;
    text-align: center;

    font-size: large;
    width: auto;
}

#getName:hover {
    border: 2px solid transparent;
    background: darkred;
    transform: scale(1.05);
    will-change: transform;
    border-color: black;
    border-radius: 10px;
}

.raceContent {
font-size: 25px;
font-weight: 300;
}

.backgroundContent {
    font-size: 25px;
    font-weight: 300;display:list-item;
    font-size: 15px;
    font-family: MedievalSharp;
}

.traits {
    text-align: center;
    font-family: fantasy;
    font-size: x-large;


}