html {
 background-image: linear-gradient(to right top, #240b36, #291e4c, #2b3162, #2a4578, #27598c, #1a6b9c, #077ea9, #0090b4, #00a4b2, #00b596, #35c165, #95c623);
padding: 5px;
}

:root{
--alabaster: #f4f3ee;
--YG: #95c623;
--starcommand:#2274a5;
--flame:#eb6534;
--russian:#240b36;
}

header {
    font-size: xx-large;
    font-family: Reggae one;
    text-align: center;
    color: var(--alabaster);
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts {
    color: var(--alabaster);
    font-size: larger;
}

footer {
    font-size: larger;
    color: var(--alabaster);
}
.is-auto {
    text-align: center;
    word-spacing: 15px;
}

.is-one-half {
    text-align: center;
    font-family: 'Press Start 2P';
}
    


.name {
    text-align: center;
    font-family: fantasy;
}

a {
    color:var(--YG);
}
a:hover{
    transform: scale(1.15);
}

img { 
    height: 100%;
    width: 50%;
    padding-left: 0px;
    
}
.title{
    text-align: center;
}

.notification.is-primary {
    background-color: var(--YG);
    font-family: Shojumaru;
}

option {
    color: black

}

#generateBtn {
    font-family: MedievalSharp;
    padding: 10px;
    color: var(--alabaster);
    background-color:var(--flame);
    border-color: black;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
}

#generateBtn:hover {
    border: 2px solid transparent;
    background:var(--flame);
    transform: scale(1.01);
    will-change: transform;
    border-color: black;
    border-radius: 10px;
}

.content {
font-family: fantasy;
font-size: 28px;
}

.dropdown-content{
    background: var(--flame);
    border-radius: 40%;
    font-family: MedievalSharp;
    font-weight: bold;
    cursor: pointer;
}

.name {
    font-family: Shojumaru;
}

.profile>.is-info {
    background-color: var(--starcommand);
}

#getName{
    background-color:var(--flame);
    border: none;
    border-radius: 5px;
    border-color: black;
    color:var(--alabaster);
    font-family: MedievalSharp;
    padding: 10px;
    text-align: center;

    font-size: large;
    width: auto;
}

#getName:hover {
    border: 2px solid transparent;
    background:var(--flame);
    transform: scale(1.05);
    will-change: transform;
    border-color: black;
    border-radius: 10px;
}

.raceContent {
    font-size: 25px;
    font-weight: 300;
    font-family: MedievalSharp;
}

.backgroundContent {
    font-size: 25px;
    font-weight: 300;
    font-family: MedievalSharp;
}

.traits {
    font-size: 25px;
    font-weight: 300;
    font-family: MedievalSharp;
    text-align: center;
}

.randomInfo {
    font-size: 25px;
    font-weight: 300;
    font-family: MedievalSharp;
}

.bigInfo > .is-danger{
    background-color: var(--russian);
}